%p Opening hours
%p Park location 

%table
  %tr
    %th Dish
    %th Description
    %th Price
 
  - @products.each do |product|
    .div{id: dom_id(product)}
      %tr
        %td= product.name
        %td= product.description
        %td= "#{product.price} kr"
        %td= add_to_cart(product, 1 , "Add")

%p For orders call:.....
